<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.admin.mapper.LogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.admin.entity.Logs">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="notes_" property="notes" />
        <result column="method_" property="method" />
        <result column="request_url" property="requestUrl" />
        <result column="user_id" property="userId" />
        <result column="params_" property="params" />
        <result column="time_" property="time" />
        <result column="ip_" property="ip" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        notes_, method_, request_url, user_id, params_, time_, ip_
    </sql>

    <select id="selectListByBean" resultType="com.deyatech.admin.vo.LogsVo">
        select l.*,u.name_ as user_name from admin_logs l left join admin_user u on l.user_id=u.id_ where l.enable_=1
        <if test="logs.notes != null">
            and l.notes_ like concat(concat('%',#{logs.notes}),'%')
        </if>
        <if test="logs.userId != null">
            and l.user_id = #{logs.userId}
        </if>
         order by create_time desc
    </select>
</mapper>
