<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.admin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.admin.entity.User">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="department_id" property="departmentId" />
        <result column="name_" property="name" />
        <result column="gender_" property="gender" />
        <result column="phone_" property="phone" />
        <result column="avatar_" property="avatar" />
        <result column="emp_no" property="empNo" />
        <result column="account_" property="account" />
        <result column="password_" property="password" />
        <result column="admin_" property="admin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        department_id, name_, gender_, phone_, avatar_, emp_no, account_, password_, admin_
    </sql>

    <select id="findList" resultType="com.deyatech.admin.vo.UserVo" parameterType="com.deyatech.admin.vo.UserVo">
        SELECT
        au.id_ AS id,
        au.enable_ AS enable,
        au.remark_ AS remark,
        au.create_by AS createBy,
        au.create_time AS createTime,
        au.update_by AS updateBy,
        au.update_time AS updateTime,
        au.version_ AS version,
        au.department_id AS departmentId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.phone_ AS phone,
        au.avatar_ AS avatar,
        au.emp_no AS empNo,
        au.account_ AS account,
        au.password_ AS password,
        au.admin_ as admin,
        ad.name_ AS departmentName,
        ad.tree_position AS departmentTreePosition
        FROM admin_user au
        LEFT JOIN admin_department ad ON au.department_id = ad.id_
        WHERE au.enable_ != -1
        <if test="user != null">
            <if test="user.enable != null">
                AND au.enable_ = #{user.enable}
            </if>
            <if test="user.name != null and user.name != ''">
                and (au.name_ like concat('%', #{user.name}, '%') or au.account_ like concat('%', #{user.name}, '%'))
            </if>
            <if test="user.departmentId != null and user.departmentId != ''">
                and au.department_id = #{user.departmentId}
            </if>
        </if>
        order by au.update_time desc
    </select>

    <!-- 检索所有的用户信息含部门-->
    <select id="selectAllUserInfo" resultType="com.deyatech.admin.vo.UserVo">
        SELECT
        au.id_ AS id,
        au.enable_ AS enable,
        au.remark_ AS remark,
        au.create_by AS createBy,
        au.create_time AS createTime,
        au.update_by AS updateBy,
        au.update_time AS updateTime,
        au.version_ AS version,
        au.department_id AS departmentId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.phone_ AS phone,
        au.avatar_ AS avatar,
        au.emp_no AS empNo,
        au.account_ AS account,
        au.password_ AS password,
        au.admin_ as admin,
        ad.name_ AS departmentName
        FROM admin_user au
        LEFT JOIN admin_department ad ON au.department_id = ad.id_
        WHERE au.enable_ = 1 AND ad.enable_ = 1
        order by au.update_time desc
    </select>

    <!--根据用户工号取得用户信息-->
    <select id="getUserByEmpNo" resultType="com.deyatech.admin.vo.UserVo">
        SELECT
        au.id_ AS id,
        au.enable_ AS enable,
        au.remark_ AS remark,
        au.create_by AS createBy,
        au.create_time AS createTime,
        au.update_by AS updateBy,
        au.update_time AS updateTime,
        au.version_ AS version,
        au.department_id AS departmentId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.phone_ AS phone,
        au.avatar_ AS avatar,
        au.emp_no AS empNo,
        au.account_ AS account,
        au.password_ AS password,
        au.admin_ as admin,
        ad.name_ AS departmentName
        FROM admin_user au
        LEFT JOIN admin_department ad ON au.department_id = ad.id_
        WHERE au.enable_ = 1 AND ad.enable_ = 1 AND au.emp_no = #{empNo}
    </select>

    <!--根据部门及窗口查询用户-->
    <select id="getUsersByWindowAndDepartment" resultMap="BaseResultMap"
        parameterType="map">
        select au.id_, au.name_
        from admin_user au
        <if test="windowIds != null and windowIds.length > 0">
            join number_window_user nwu on au.id_ = nwu.user_id
        </if>
        where au.enable_ = 1
        <if test="departmentIds != null and departmentIds.length > 0">
            and au.department_id in
            <foreach collection="departmentIds" index="index" item="departmentId" separator="," open="(" close=")">
                #{departmentId}
            </foreach>
        </if>
        <if test="windowIds != null and windowIds.length > 0">
            and nwu.window_id in
            <foreach collection="windowIds" index="index" item="windowId" separator="," open="(" close=")">
                #{windowId}
            </foreach>
        </if>
        order by au.name_
    </select>
    <!--获取用户所在部门及子部门的所有用户-->
    <select id="getAllUserIdInUserDepartment" resultType="com.deyatech.admin.entity.User">
        select <include refid="Base_Column_List"></include>
        from admin_user
        where enable_ = '1'
        <if test="list != null and list.size > 0">
            and department_id in
            <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
