<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.admin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.admin.entity.User">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="department_id" property="departmentId" />
        <result column="name_" property="name" />
        <result column="gender_" property="gender" />
        <result column="phone_" property="phone" />
        <result column="avatar_" property="avatar" />
        <result column="account_" property="account" />
        <result column="password_" property="password" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        department_id, name_, gender_, phone_, avatar_, account_, password_
    </sql>

    <select id="findList" resultType="com.deyatech.admin.vo.UserVo" parameterType="com.deyatech.admin.entity.User">
        SELECT
        au.id_ AS id,
        au.enable_ AS enable,
        au.remark_ AS remark,
        au.create_by AS createBy,
        au.create_time AS createTime,
        au.update_by AS updateBy,
        au.update_time AS updateTime,
        au.version_ AS version,
        au.department_id AS departmentId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.phone_ AS phone,
        au.avatar_ AS avatar,
        au.account_ AS account,
        au.password_ AS password,
        ad.name_ AS departmentName,
        ad.tree_position AS departmentTreePosition
        FROM admin_user au LEFT JOIN admin_department ad ON au.department_id = ad.id_
        WHERE au.enable_ != -1
        <if test="user != null">
            <if test="user.enable != null">
                AND au.enable_ = #{user.enable}
            </if>
            <if test="user.name != null and user.name != ''">
                and (au.name_ like concat('%', #{user.name}, '%') or au.account_ like concat('%', #{user.name}, '%'))
            </if>
        </if>
        order by au.update_time desc
    </select>
</mapper>
