<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.workflow.mapper.ProcessTaskSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.workflow.entity.ProcessTaskSetting">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="act_definition_id" property="actDefinitionId" />
        <result column="act_task_definition_id" property="actTaskDefinitionId" />
        <result column="source_" property="source" />
        <result column="assignee_" property="assignee" />
        <result column="candidate_type" property="candidateType" />
        <result column="candidate_users" property="candidateUsers" />
        <result column="candidate_groups" property="candidateGroups" />
        <result column="candidate_departments" property="candidateDepartments" />
        <result column="auto_pass" property="autoPass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        act_definition_id, act_task_definition_id, source_, assignee_, candidate_type, candidate_users, candidate_groups, candidate_departments, auto_pass
    </sql>
</mapper>
