<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.workflow.mapper.ProcessDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.workflow.entity.IProcessDefinition">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="process_model_id" property="processModelId" />
        <result column="act_deployment_id" property="actDeploymentId" />
        <result column="act_definition_id" property="actDefinitionId" />
        <result column="name_" property="name" />
        <result column="act_definition_key" property="actDefinitionKey" />
        <result column="deployment_time" property="deploymentTime" />
        <result column="ver_" property="ver" />
    </resultMap>

    <resultMap id="voResultMap" type="com.deyatech.workflow.vo.ProcessDefinitionVo">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="process_model_id" property="processModelId" />
        <result column="act_deployment_id" property="actDeploymentId" />
        <result column="act_definition_id" property="actDefinitionId" />
        <result column="name_" property="name" />
        <result column="act_definition_key" property="actDefinitionKey" />
        <result column="deployment_time" property="deploymentTime" />
        <result column="ver_" property="ver" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        process_model_id, act_deployment_id, act_definition_id, name_, act_definition_key, deployment_time, ver_
    </sql>

    <select id="findLastVersionPage" resultMap="voResultMap">
        SELECT d.*
        FROM workflow_process_definition d
        join workflow_process_model m on d.process_model_id = m.id_ and m.enable_ = 1
        WHERE d.enable_ != -1
        <if test="processDefinition.name != null and processDefinition.name != ''">
            AND (d.name_ LIKE concat('%', #{processDefinition.name}, '%') or d.act_definition_key LIKE concat('%', #{processDefinition.name}, '%'))
        </if>
        order by d.deployment_time desc
    </select>

    <select id="getLastVersionByActDefinitionKey" resultMap="BaseResultMap">
        SELECT *
        FROM workflow_process_definition
        WHERE act_definition_key = #{actDefinitionKey}
        and ver_ &lt; #{version} and enable_ != -1
        order by ver_ desc
        limit 1
    </select>


    <update id="enableByActDefinitionId">
        UPDATE workflow_process_definition SET enable_ = 1 WHERE act_definition_id = #{actDefinitionId} and enable_ = 0
    </update>

    <update id="disableByActDefinitionId">
        UPDATE workflow_process_definition SET enable_ = 0 WHERE act_definition_id = #{actDefinitionId} and enable_ = 1
    </update>

    <select id="getActDefinitionByOldId" resultType="com.deyatech.workflow.entity.IProcessDefinition">
        select dd.* from workflow_process_definition dd where dd.id_ in
        (
            select mm.process_definition_id from workflow_process_model mm where mm.enable_ = 1 and mm.act_model_id in
            (
                select m.act_model_id from workflow_process_model m where m.id_ in
                (
                    select d.process_model_id from workflow_process_definition d where d.act_definition_id = #{oldActDefinitionId}
                )
            )
        )
    </select>
</mapper>
